<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		.container{
			width:600px;
			height: 480px;
			margin-top:200px;
		}
	</style>
</head>
<body>
	<div class="container">
	<form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm.value)">
	<div class="form-group">
		<label for="username" style="width:80px;height: 32px">username:</label>
		<input type="text" ngModel id="username" name="username" style="width:420px;height: 32px">
	</div>
	<div class="form-group">
		<label for="password" style="width:80px;height: 32px">password:</label>
		<input type="password" ngModel id="password" name="password" style="width:420px;height: 32px">
	</div>
	<input type="submit" class="btn btn-default" name="signIn" value="signIn" style="margin-left:240px" />
	</form>
</div>
</body>
</html>
